<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<dict>
		<key>a/attack</key>
		<dict>
			<key>delay</key>
			<real>0.05</real>
			<key>frames</key>
			<array>
				<string>a/attack/01.png</string>
				<string>a/attack/02.png</string>
				<string>a/attack/03.png</string>
				<string>a/attack/04.png</string>
				<string>a/attack/05.png</string>
				<string>a/attack/06.png</string>
				<string>a/attack/07.png</string>
				<string>a/attack/08.png</string>
				<string>a/attack/09.png</string>
				<string>a/attack/10.png</string>
				<string>a/attack/11.png</string>
				<string>a/attack/12.png</string>
				<string>a/attack/13.png</string>
				<string>a/attack/14.png</string>
				<string>a/attack/15.png</string>
				<string>a/attack/16.png</string>
				<string>a/attack/17.png</string>
				<string>a/attack/18.png</string>
				<string>a/attack/19.png</string>
			</array>
		</dict>
		<key>a/build</key>
		<dict>
			<key>delay</key>
			<real>0.05</real>
			<key>frames</key>
			<array>
				<string>a/build/01.png</string>
				<string>a/build/02.png</string>
				<string>a/build/03.png</string>
				<string>a/build/04.png</string>
				<string>a/build/05.png</string>
				<string>a/build/06.png</string>
				<string>a/build/07.png</string>
				<string>a/build/08.png</string>
				<string>a/build/09.png</string>
				<string>a/build/10.png</string>
				<string>a/build/11.png</string>
				<string>a/build/12.png</string>
				<string>a/build/13.png</string>
				<string>a/build/14.png</string>
				<string>a/build/15.png</string>
				<string>a/build/16.png</string>
				<string>a/build/17.png</string>
				<string>a/build/18.png</string>
				<string>a/build/19.png</string>
			</array>
		</dict>
		<key>a/climb</key>
		<dict>
			<key>delay</key>
			<real>0.05</real>
			<key>frames</key>
			<array>
				<string>a/climb/01.png</string>
				<string>a/climb/02.png</string>
				<string>a/climb/03.png</string>
				<string>a/climb/04.png</string>
				<string>a/climb/05.png</string>
				<string>a/climb/06.png</string>
				<string>a/climb/07.png</string>
				<string>a/climb/08.png</string>
				<string>a/climb/09.png</string>
				<string>a/climb/10.png</string>
				<string>a/climb/11.png</string>
				<string>a/climb/12.png</string>
				<string>a/climb/13.png</string>
				<string>a/climb/14.png</string>
				<string>a/climb/15.png</string>
				<string>a/climb/16.png</string>
				<string>a/climb/17.png</string>
				<string>a/climb/18.png</string>
				<string>a/climb/19.png</string>
			</array>
		</dict>
		<key>a/gather</key>
		<dict>
			<key>delay</key>
			<real>0.05</real>
			<key>frames</key>
			<array>
				<string>a/gather/01.png</string>
				<string>a/gather/02.png</string>
				<string>a/gather/03.png</string>
				<string>a/gather/04.png</string>
				<string>a/gather/05.png</string>
				<string>a/gather/06.png</string>
				<string>a/gather/07.png</string>
				<string>a/gather/08.png</string>
				<string>a/gather/09.png</string>
				<string>a/gather/10.png</string>
				<string>a/gather/11.png</string>
				<string>a/gather/12.png</string>
				<string>a/gather/13.png</string>
				<string>a/gather/14.png</string>
				<string>a/gather/15.png</string>
				<string>a/gather/16.png</string>
				<string>a/gather/17.png</string>
				<string>a/gather/18.png</string>
				<string>a/gather/19.png</string>
				<string>a/gather/20.png</string>
				<string>a/gather/21.png</string>
				<string>a/gather/22.png</string>
				<string>a/gather/23.png</string>
				<string>a/gather/24.png</string>
			</array>
		</dict>
		<key>a/idle</key>
		<dict>
			<key>delay</key>
			<real>0.05</real>
			<key>frames</key>
			<array>
				<string>a/idle/01.png</string>
				<string>a/idle/02.png</string>
				<string>a/idle/03.png</string>
				<string>a/idle/04.png</string>
				<string>a/idle/05.png</string>
				<string>a/idle/06.png</string>
				<string>a/idle/07.png</string>
				<string>a/idle/08.png</string>
				<string>a/idle/09.png</string>
				<string>a/idle/10.png</string>
				<string>a/idle/11.png</string>
				<string>a/idle/12.png</string>
				<string>a/idle/13.png</string>
				<string>a/idle/14.png</string>
				<string>a/idle/15.png</string>
				<string>a/idle/16.png</string>
				<string>a/idle/17.png</string>
				<string>a/idle/18.png</string>
				<string>a/idle/19.png</string>
			</array>
		</dict>
		<key>a/walk</key>
		<dict>
			<key>delay</key>
			<real>0.05</real>
			<key>frames</key>
			<array>
				<string>a/walk/01.png</string>
				<string>a/walk/02.png</string>
				<string>a/walk/03.png</string>
				<string>a/walk/04.png</string>
				<string>a/walk/05.png</string>
				<string>a/walk/06.png</string>
				<string>a/walk/07.png</string>
				<string>a/walk/08.png</string>
				<string>a/walk/09.png</string>
				<string>a/walk/10.png</string>
				<string>a/walk/11.png</string>
				<string>a/walk/12.png</string>
				<string>a/walk/13.png</string>
				<string>a/walk/14.png</string>
				<string>a/walk/15.png</string>
				<string>a/walk/16.png</string>
				<string>a/walk/17.png</string>
				<string>a/walk/18.png</string>
				<string>a/walk/19.png</string>
			</array>
		</dict>
		<key>b/attack</key>
		<dict>
			<key>delay</key>
			<real>0.05</real>
			<key>frames</key>
			<array>
				<string>b/attack/01.png</string>
				<string>b/attack/02.png</string>
				<string>b/attack/03.png</string>
				<string>b/attack/04.png</string>
				<string>b/attack/05.png</string>
				<string>b/attack/06.png</string>
				<string>b/attack/07.png</string>
				<string>b/attack/08.png</string>
				<string>b/attack/09.png</string>
				<string>b/attack/10.png</string>
				<string>b/attack/11.png</string>
				<string>b/attack/12.png</string>
				<string>b/attack/13.png</string>
				<string>b/attack/14.png</string>
				<string>b/attack/15.png</string>
				<string>b/attack/16.png</string>
				<string>b/attack/17.png</string>
				<string>b/attack/18.png</string>
				<string>b/attack/19.png</string>
			</array>
		</dict>
		<key>b/build</key>
		<dict>
			<key>delay</key>
			<real>0.05</real>
			<key>frames</key>
			<array>
				<string>b/build/01.png</string>
				<string>b/build/02.png</string>
				<string>b/build/03.png</string>
				<string>b/build/04.png</string>
				<string>b/build/05.png</string>
				<string>b/build/06.png</string>
				<string>b/build/07.png</string>
				<string>b/build/08.png</string>
				<string>b/build/09.png</string>
				<string>b/build/10.png</string>
				<string>b/build/11.png</string>
				<string>b/build/12.png</string>
				<string>b/build/13.png</string>
				<string>b/build/14.png</string>
				<string>b/build/15.png</string>
				<string>b/build/16.png</string>
				<string>b/build/17.png</string>
				<string>b/build/18.png</string>
				<string>b/build/19.png</string>
			</array>
		</dict>
		<key>b/climb</key>
		<dict>
			<key>delay</key>
			<real>0.05</real>
			<key>frames</key>
			<array>
				<string>b/climb/01.png</string>
				<string>b/climb/02.png</string>
				<string>b/climb/03.png</string>
				<string>b/climb/04.png</string>
				<string>b/climb/05.png</string>
				<string>b/climb/06.png</string>
				<string>b/climb/07.png</string>
				<string>b/climb/08.png</string>
				<string>b/climb/09.png</string>
				<string>b/climb/10.png</string>
				<string>b/climb/11.png</string>
				<string>b/climb/12.png</string>
				<string>b/climb/13.png</string>
				<string>b/climb/14.png</string>
				<string>b/climb/15.png</string>
				<string>b/climb/16.png</string>
				<string>b/climb/17.png</string>
				<string>b/climb/18.png</string>
				<string>b/climb/19.png</string>
			</array>
		</dict>
		<key>b/gather</key>
		<dict>
			<key>delay</key>
			<real>0.05</real>
			<key>frames</key>
			<array>
				<string>b/gather/01.png</string>
				<string>b/gather/02.png</string>
				<string>b/gather/03.png</string>
				<string>b/gather/04.png</string>
				<string>b/gather/05.png</string>
				<string>b/gather/06.png</string>
				<string>b/gather/07.png</string>
				<string>b/gather/08.png</string>
				<string>b/gather/09.png</string>
				<string>b/gather/10.png</string>
				<string>b/gather/11.png</string>
				<string>b/gather/12.png</string>
				<string>b/gather/13.png</string>
				<string>b/gather/14.png</string>
				<string>b/gather/15.png</string>
				<string>b/gather/16.png</string>
				<string>b/gather/17.png</string>
				<string>b/gather/18.png</string>
				<string>b/gather/19.png</string>
				<string>b/gather/20.png</string>
				<string>b/gather/21.png</string>
				<string>b/gather/22.png</string>
				<string>b/gather/23.png</string>
				<string>b/gather/24.png</string>
			</array>
		</dict>
		<key>b/idle</key>
		<dict>
			<key>delay</key>
			<real>0.05</real>
			<key>frames</key>
			<array>
				<string>b/idle/01.png</string>
				<string>b/idle/02.png</string>
				<string>b/idle/03.png</string>
				<string>b/idle/04.png</string>
				<string>b/idle/05.png</string>
				<string>b/idle/06.png</string>
				<string>b/idle/07.png</string>
				<string>b/idle/08.png</string>
				<string>b/idle/09.png</string>
				<string>b/idle/10.png</string>
				<string>b/idle/11.png</string>
				<string>b/idle/12.png</string>
				<string>b/idle/13.png</string>
				<string>b/idle/14.png</string>
				<string>b/idle/15.png</string>
				<string>b/idle/16.png</string>
				<string>b/idle/17.png</string>
				<string>b/idle/18.png</string>
				<string>b/idle/19.png</string>
			</array>
		</dict>
		<key>b/walk</key>
		<dict>
			<key>delay</key>
			<real>0.05</real>
			<key>frames</key>
			<array>
				<string>b/walk/01.png</string>
				<string>b/walk/02.png</string>
				<string>b/walk/03.png</string>
				<string>b/walk/04.png</string>
				<string>b/walk/05.png</string>
				<string>b/walk/06.png</string>
				<string>b/walk/07.png</string>
				<string>b/walk/08.png</string>
				<string>b/walk/09.png</string>
				<string>b/walk/10.png</string>
				<string>b/walk/11.png</string>
				<string>b/walk/12.png</string>
				<string>b/walk/13.png</string>
				<string>b/walk/14.png</string>
				<string>b/walk/15.png</string>
				<string>b/walk/16.png</string>
				<string>b/walk/17.png</string>
				<string>b/walk/18.png</string>
				<string>b/walk/19.png</string>
			</array>
		</dict>
		<key>c/attack</key>
		<dict>
			<key>delay</key>
			<real>0.05</real>
			<key>frames</key>
			<array>
				<string>c/attack/01.png</string>
				<string>c/attack/02.png</string>
				<string>c/attack/03.png</string>
				<string>c/attack/04.png</string>
				<string>c/attack/05.png</string>
				<string>c/attack/06.png</string>
				<string>c/attack/07.png</string>
				<string>c/attack/08.png</string>
				<string>c/attack/09.png</string>
				<string>c/attack/10.png</string>
				<string>c/attack/11.png</string>
				<string>c/attack/12.png</string>
				<string>c/attack/13.png</string>
				<string>c/attack/14.png</string>
				<string>c/attack/15.png</string>
				<string>c/attack/16.png</string>
				<string>c/attack/17.png</string>
				<string>c/attack/18.png</string>
				<string>c/attack/19.png</string>
			</array>
		</dict>
		<key>c/build</key>
		<dict>
			<key>delay</key>
			<real>0.05</real>
			<key>frames</key>
			<array>
				<string>c/build/01.png</string>
				<string>c/build/02.png</string>
				<string>c/build/03.png</string>
				<string>c/build/04.png</string>
				<string>c/build/05.png</string>
				<string>c/build/06.png</string>
				<string>c/build/07.png</string>
				<string>c/build/08.png</string>
				<string>c/build/09.png</string>
				<string>c/build/10.png</string>
				<string>c/build/11.png</string>
				<string>c/build/12.png</string>
				<string>c/build/13.png</string>
				<string>c/build/14.png</string>
				<string>c/build/15.png</string>
				<string>c/build/16.png</string>
				<string>c/build/17.png</string>
				<string>c/build/18.png</string>
				<string>c/build/19.png</string>
			</array>
		</dict>
		<key>c/climb</key>
		<dict>
			<key>delay</key>
			<real>0.05</real>
			<key>frames</key>
			<array>
				<string>c/climb/01.png</string>
				<string>c/climb/02.png</string>
				<string>c/climb/03.png</string>
				<string>c/climb/04.png</string>
				<string>c/climb/05.png</string>
				<string>c/climb/06.png</string>
				<string>c/climb/07.png</string>
				<string>c/climb/08.png</string>
				<string>c/climb/09.png</string>
				<string>c/climb/10.png</string>
				<string>c/climb/11.png</string>
				<string>c/climb/12.png</string>
				<string>c/climb/13.png</string>
				<string>c/climb/14.png</string>
				<string>c/climb/15.png</string>
				<string>c/climb/16.png</string>
				<string>c/climb/17.png</string>
				<string>c/climb/18.png</string>
				<string>c/climb/19.png</string>
			</array>
		</dict>
		<key>c/gather</key>
		<dict>
			<key>delay</key>
			<real>0.05</real>
			<key>frames</key>
			<array>
				<string>c/gather/01.png</string>
				<string>c/gather/02.png</string>
				<string>c/gather/03.png</string>
				<string>c/gather/04.png</string>
				<string>c/gather/05.png</string>
				<string>c/gather/06.png</string>
				<string>c/gather/07.png</string>
				<string>c/gather/08.png</string>
				<string>c/gather/09.png</string>
				<string>c/gather/10.png</string>
				<string>c/gather/11.png</string>
				<string>c/gather/12.png</string>
				<string>c/gather/13.png</string>
				<string>c/gather/14.png</string>
				<string>c/gather/15.png</string>
				<string>c/gather/16.png</string>
				<string>c/gather/17.png</string>
				<string>c/gather/18.png</string>
				<string>c/gather/19.png</string>
				<string>c/gather/20.png</string>
				<string>c/gather/21.png</string>
				<string>c/gather/22.png</string>
				<string>c/gather/23.png</string>
				<string>c/gather/24.png</string>
			</array>
		</dict>
		<key>c/idle</key>
		<dict>
			<key>delay</key>
			<real>0.05</real>
			<key>frames</key>
			<array>
				<string>c/idle/01.png</string>
				<string>c/idle/02.png</string>
				<string>c/idle/03.png</string>
				<string>c/idle/04.png</string>
				<string>c/idle/05.png</string>
				<string>c/idle/06.png</string>
				<string>c/idle/07.png</string>
				<string>c/idle/08.png</string>
				<string>c/idle/09.png</string>
				<string>c/idle/10.png</string>
				<string>c/idle/11.png</string>
				<string>c/idle/12.png</string>
				<string>c/idle/13.png</string>
				<string>c/idle/14.png</string>
				<string>c/idle/15.png</string>
				<string>c/idle/16.png</string>
				<string>c/idle/17.png</string>
				<string>c/idle/18.png</string>
				<string>c/idle/19.png</string>
			</array>
		</dict>
		<key>c/walk</key>
		<dict>
			<key>delay</key>
			<real>0.05</real>
			<key>frames</key>
			<array>
				<string>c/walk/01.png</string>
				<string>c/walk/02.png</string>
				<string>c/walk/03.png</string>
				<string>c/walk/04.png</string>
				<string>c/walk/05.png</string>
				<string>c/walk/06.png</string>
				<string>c/walk/07.png</string>
				<string>c/walk/08.png</string>
				<string>c/walk/09.png</string>
				<string>c/walk/10.png</string>
				<string>c/walk/11.png</string>
				<string>c/walk/12.png</string>
				<string>c/walk/13.png</string>
				<string>c/walk/14.png</string>
				<string>c/walk/15.png</string>
				<string>c/walk/16.png</string>
				<string>c/walk/17.png</string>
				<string>c/walk/18.png</string>
				<string>c/walk/19.png</string>
			</array>
		</dict>
		<key>d/attack</key>
		<dict>
			<key>delay</key>
			<real>0.05</real>
			<key>frames</key>
			<array>
				<string>d/attack/01.png</string>
				<string>d/attack/02.png</string>
				<string>d/attack/03.png</string>
				<string>d/attack/04.png</string>
				<string>d/attack/05.png</string>
				<string>d/attack/06.png</string>
				<string>d/attack/07.png</string>
				<string>d/attack/08.png</string>
				<string>d/attack/09.png</string>
				<string>d/attack/10.png</string>
				<string>d/attack/11.png</string>
				<string>d/attack/12.png</string>
				<string>d/attack/13.png</string>
				<string>d/attack/14.png</string>
				<string>d/attack/15.png</string>
				<string>d/attack/16.png</string>
				<string>d/attack/17.png</string>
				<string>d/attack/18.png</string>
				<string>d/attack/19.png</string>
			</array>
		</dict>
		<key>d/build</key>
		<dict>
			<key>delay</key>
			<real>0.05</real>
			<key>frames</key>
			<array>
				<string>d/build/01.png</string>
				<string>d/build/02.png</string>
				<string>d/build/03.png</string>
				<string>d/build/04.png</string>
				<string>d/build/05.png</string>
				<string>d/build/06.png</string>
				<string>d/build/07.png</string>
				<string>d/build/08.png</string>
				<string>d/build/09.png</string>
				<string>d/build/10.png</string>
				<string>d/build/11.png</string>
				<string>d/build/12.png</string>
				<string>d/build/13.png</string>
				<string>d/build/14.png</string>
				<string>d/build/15.png</string>
				<string>d/build/16.png</string>
				<string>d/build/17.png</string>
				<string>d/build/18.png</string>
				<string>d/build/19.png</string>
			</array>
		</dict>
		<key>d/climb</key>
		<dict>
			<key>delay</key>
			<real>0.05</real>
			<key>frames</key>
			<array>
				<string>d/climb/01.png</string>
				<string>d/climb/02.png</string>
				<string>d/climb/03.png</string>
				<string>d/climb/04.png</string>
				<string>d/climb/05.png</string>
				<string>d/climb/06.png</string>
				<string>d/climb/07.png</string>
				<string>d/climb/08.png</string>
				<string>d/climb/09.png</string>
				<string>d/climb/10.png</string>
				<string>d/climb/11.png</string>
				<string>d/climb/12.png</string>
				<string>d/climb/13.png</string>
				<string>d/climb/14.png</string>
				<string>d/climb/15.png</string>
				<string>d/climb/16.png</string>
				<string>d/climb/17.png</string>
				<string>d/climb/18.png</string>
				<string>d/climb/19.png</string>
			</array>
		</dict>
		<key>d/gather</key>
		<dict>
			<key>delay</key>
			<real>0.05</real>
			<key>frames</key>
			<array>
				<string>d/gather/01.png</string>
				<string>d/gather/02.png</string>
				<string>d/gather/03.png</string>
				<string>d/gather/04.png</string>
				<string>d/gather/05.png</string>
				<string>d/gather/06.png</string>
				<string>d/gather/07.png</string>
				<string>d/gather/08.png</string>
				<string>d/gather/09.png</string>
				<string>d/gather/10.png</string>
				<string>d/gather/11.png</string>
				<string>d/gather/12.png</string>
				<string>d/gather/13.png</string>
				<string>d/gather/14.png</string>
				<string>d/gather/15.png</string>
				<string>d/gather/16.png</string>
				<string>d/gather/17.png</string>
				<string>d/gather/18.png</string>
				<string>d/gather/19.png</string>
				<string>d/gather/20.png</string>
				<string>d/gather/21.png</string>
				<string>d/gather/22.png</string>
				<string>d/gather/23.png</string>
				<string>d/gather/24.png</string>
			</array>
		</dict>
		<key>d/idle</key>
		<dict>
			<key>delay</key>
			<real>0.05</real>
			<key>frames</key>
			<array>
				<string>d/idle/01.png</string>
				<string>d/idle/02.png</string>
				<string>d/idle/03.png</string>
				<string>d/idle/04.png</string>
				<string>d/idle/05.png</string>
				<string>d/idle/06.png</string>
				<string>d/idle/07.png</string>
				<string>d/idle/08.png</string>
				<string>d/idle/09.png</string>
				<string>d/idle/10.png</string>
				<string>d/idle/11.png</string>
				<string>d/idle/12.png</string>
				<string>d/idle/13.png</string>
				<string>d/idle/14.png</string>
				<string>d/idle/15.png</string>
				<string>d/idle/16.png</string>
				<string>d/idle/17.png</string>
				<string>d/idle/18.png</string>
				<string>d/idle/19.png</string>
			</array>
		</dict>
		<key>d/walk</key>
		<dict>
			<key>delay</key>
			<real>0.05</real>
			<key>frames</key>
			<array>
				<string>d/walk/01.png</string>
				<string>d/walk/02.png</string>
				<string>d/walk/03.png</string>
				<string>d/walk/04.png</string>
				<string>d/walk/05.png</string>
				<string>d/walk/06.png</string>
				<string>d/walk/07.png</string>
				<string>d/walk/08.png</string>
				<string>d/walk/09.png</string>
				<string>d/walk/10.png</string>
				<string>d/walk/11.png</string>
				<string>d/walk/12.png</string>
				<string>d/walk/13.png</string>
				<string>d/walk/14.png</string>
				<string>d/walk/15.png</string>
				<string>d/walk/16.png</string>
				<string>d/walk/17.png</string>
				<string>d/walk/18.png</string>
				<string>d/walk/19.png</string>
			</array>
		</dict>
		<key>e/attack</key>
		<dict>
			<key>delay</key>
			<real>0.05</real>
			<key>frames</key>
			<array>
				<string>e/attack/01.png</string>
				<string>e/attack/02.png</string>
				<string>e/attack/03.png</string>
				<string>e/attack/04.png</string>
				<string>e/attack/05.png</string>
				<string>e/attack/06.png</string>
				<string>e/attack/07.png</string>
				<string>e/attack/08.png</string>
				<string>e/attack/09.png</string>
				<string>e/attack/10.png</string>
				<string>e/attack/11.png</string>
				<string>e/attack/12.png</string>
				<string>e/attack/13.png</string>
				<string>e/attack/14.png</string>
				<string>e/attack/15.png</string>
				<string>e/attack/16.png</string>
				<string>e/attack/17.png</string>
				<string>e/attack/18.png</string>
				<string>e/attack/19.png</string>
			</array>
		</dict>
		<key>e/walk</key>
		<dict>
			<key>delay</key>
			<real>0.05</real>
			<key>frames</key>
			<array>
				<string>e/walk/01.png</string>
				<string>e/walk/02.png</string>
				<string>e/walk/03.png</string>
				<string>e/walk/04.png</string>
				<string>e/walk/05.png</string>
				<string>e/walk/06.png</string>
				<string>e/walk/07.png</string>
				<string>e/walk/08.png</string>
				<string>e/walk/09.png</string>
				<string>e/walk/10.png</string>
				<string>e/walk/11.png</string>
				<string>e/walk/12.png</string>
				<string>e/walk/13.png</string>
				<string>e/walk/14.png</string>
				<string>e/walk/15.png</string>
				<string>e/walk/16.png</string>
				<string>e/walk/17.png</string>
				<string>e/walk/18.png</string>
				<string>e/walk/19.png</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
